nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #339;
}

nav li {
    float: left
}

    nav li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
    }

        nav li a:hover {
            background-color: mediumpurple;
        }

p {
    color  :chocolate;

}
p.par{
    color:blueviolet;
}

.innyPar{
    color:aqua;
}

#szczegolnyPar{
    background-color:burlywood
}
body{
    margin: 0 0 0 30px
}
